@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&display=swap');

:root {
    --appFont: 'Bebas Neue', sans-serif;
    --audioBtnFont: 'Audiowide', sans-serif;
    --bgDark: #171717;
    --bgApp: rgba(0,0,0,.7);
    --blur: blur(5px);
    --theme-clr: cyan;
    --fontClr: #eee;
    --titleClr: #eee;
    --boxShadow: 1px 1px 3px 2px #000,
                -1px -1px 3px 2px #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url("../imgs/bg-final.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    font-family: var(--appFont);
    font-size: 1.5rem;
    padding-top: 5rem;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: var(--titleClr);
}
    h1 span {
        color: #000;
        background-color: var(--theme-clr);
        padding: .25rem .5rem 0;
        border-radius: .75rem;
    }

.info {
    visibility: visible;
    text-align: center;
    font-family: sans-serif;
    color: var(--theme-clr);
    font-size: 1rem;
}

.app {
    display: grid;
    place-items: center;
    text-align: center;
    background-color: var(--bgApp);
    backdrop-filter: var(--blur);
    color: var(--fontClr);
    box-shadow: var(--boxShadow);
    padding: 1.5rem;
    max-width: 30rem;
    margin: 2rem auto 0;
}
    .app > div {
        margin: .5rem;
    }
    .app > div > p {
        opacity: .8;
    }

#key,
#keyCode {
    position: relative;
    text-transform: capitalize;
    margin: .25rem auto .75rem;
}

#key {
    font-size: 5rem;
    color: #eee;
    opacity: .20;
}
#keyCode {
    font-size: 2.75rem;
    color: var(--theme-clr);
    opacity: .3;
}

#key.js-keyPressAnim  {
    opacity: 1;
    animation: scaling 200ms ease-in forwards;
    transform-origin: bottom;
    transition: all 200ms ease-in;
}
#keyCode.js-keyPressAnim {
    opacity: 1;
    transition: all 200ms ease-in;
}

@keyframes scaling {
    0% { transform: scale(.7); }
    80% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.audio-control {
    display: flex;
    align-items: center;
    font-family: var(--audioBtnFont);
}
    .audio-control p {
        opacity: .4;
        font-size: .8rem;
    }
    .audio-control .active {
        color: var(--theme-clr);
        opacity: 1;
        text-shadow: 1px 1px 10px var(--theme-clr),
                    -1px -1px 10px var(--theme-clr);
    }
    
#toggleBtn {
    width: 2.75rem;
    height: 1.5rem;
    padding: 4px;
    margin: .75rem;
    background-color: #000;
    outline: 2px solid var(--theme-clr);
    display: flex;
    border-radius: 10rem;
    cursor: pointer;
}
    #toggleBtn #toggleHandle {
        height: 100%;
        aspect-ratio: 1 / 1;
        background-color: var(--theme-clr);
        border-radius: 10rem;
        transition: transform 200ms ease-in-out;
    }
    #toggleBtn.js-audio-off #toggleHandle {
        transform: translateX(120%);
    }