body {
    background-color: #222;
    color: #eee;
    font-family: sans-serif;
    font-size: 2rem;

    display: grid;
    place-items: center;
    min-height: 100vh;
}

div {
    display: grid;
    place-items: center;
}