@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&display=swap');

:root {
    --appFont: 'Bebas Neue', sans-serif;
    --audioBtnFont: 'Audiowide', sans-serif;
    --bgDark: #232323;
    /* --bgDark: #010b15; */
    --bgApp: #121212;
    /* --bgApp: #031020; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid lime; */
}

body {
    background-color: var(--bgDark);
    color: #eee;
    font-family: var(--appFont);
    font-size: 1.5rem; 
    max-height: 100vh;
    margin-top: 5rem;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    margin: 1rem;
    /* word-spacing: -10px; */
}
    h1 span {
        color: #000;
        background-color: cyan;
        padding: .25rem .5rem 0;
        border-radius: .75rem;
    }

.info {
    visibility: visible;
    text-align: center;
    font-family: sans-serif;
    color: cyan;
    font-size: 1rem;
}

.app {
    display: grid;
    /* display: none; */
    place-items: center;
    text-align: center;
    background-color: var(--bgApp);
    box-shadow: 1px 1px 3px 3px #111;
    padding: 1rem;
    max-width: 30rem;
    margin: 3rem auto 0;
}
    .app > * {
        margin: 1rem;
    }
    .app > div > p {
        opacity: .8;
    }

#key,
#keyCode {
    position: relative;
    text-transform: capitalize;
    margin: .75rem;
}

#key {
    font-size: 5rem;
    color: #eee;
    opacity: .15;
}
#keyCode {
    font-size: 2.75rem;
    color: cyan;
    opacity: .25;
}

#key.js-keyPressAnim,
#keyCode.js-keyPressAnim {
    opacity: 1;
    animation: scaling 200ms ease-in;
    transform-origin: bottom;
    transition: all 200ms ease-in;
}

@keyframes scaling {
    0% { transform: scale(.7); }
    80% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* #muteBtn {
    padding: 1.5rem;
    border-radius: 50%;
    border: 1px solid #111;
    box-shadow: 2px 2px 5px 2px #111;
    cursor: pointer;
    translate: transform 500ms linear;
}
    #muteBtn.audioOff {
        transform: scale(.95);
        box-shadow: 0 0 2px 2px #111;
    } */

.audio-control {
    display: flex;
    align-items: center;
    font-family: var(--audioBtnFont);
    transition: color 500ms ease-in-out;
}
    .audio-control p {
        opacity: .4;
        font-size: .8rem;
    }
    .audio-control .active {
        color: cyan;
        opacity: 1;
    }
    

.toogle-btn {
    width: 2.75rem;
    height: 1.5rem;
    padding: 4px;
    margin: .75rem;
    background-color: #000;
    outline: 2px solid cyan;
    display: flex;
    border-radius: 10rem;
    cursor: pointer;
}
    .toogle-btn span {
        height: 100%;
        aspect-ratio: 1 / 1;
        background-color: cyan;
        border-radius: 10rem;
    }